* {
    
    margin: 0;
    padding: 0;
}

body {
 
    font-family: 'Lato', sans-serif;
    background-color: #edecea;
    color: #333333;
}

a {
    color: #6c819e;
    text-decoration: none;
}

a:hover {
    color: #2e3644;
}

a.link {

    padding-left: 18px; 
}

a.link:hover {
 
    /*text-decoration: underline;*/
    background-image: url('../img/paw.png');
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block; 
}

ul {
 
    list-style-type: square;
    list-style-position: inside;
}

h1 {
    
    font-size: 22px;
    margin-bottom: 10px;
}

article {     
    display: block;
    margin: 10px 14px;
    padding: 7px;
    border-right: 4px solid transparent;
}

article:hover {
     border-right-color:#18515E;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.noborder {

    border: none;
}

article h1 {
    
    font-size: 20px;
    margin: 10px 0;
}

/*article img {

    max-width: 95%;
    margin: 10px;
    border: 5px solid #18515E;
}*/

article p {
	
	/*padding: 8px;*/
	white-space: pre-line;
	/*background-color: #fdfdfd;*/
}

article h1.underline {
	
	border-bottom: 1px solid #CCCCCC;
	font-size: 1.1em;
	padding: 5px;
	margin-top: 0;
}

.pagenumber {
	
	padding: 10px;
}

.pagenumber .current, .pagenumber a  {
	
	display: inline-block;
	padding: 5px 10px;
	color: #464646;
	background-color: #f9f9f9;
}

.pagenumber a:hover {
	
	background-color: #18515E;
	color: #f9f9f9;
}

.error { 
    color: #900A0A;
    border-left: 4px solid #900A0A;
    background-color: #e0a3a3;
    display: block;
    margin: 10px 4px;
    padding: 7px;
    white-space: pre-wrap;
}
.info {
    color: #00529B;
    border-left: 4px solid #00529B;
    background-color: #BDE5F8;
    display: block;
    margin: 10px 4px;
    padding: 7px;
    white-space: pre-wrap;
}
.success {
    color: #4F8A10;
    border-left: 4px solid #4F8A10;
    background-color: #DFF2BF;
    display: block;
    margin: 10px 4px;
    padding: 7px;
    white-space: pre-wrap;
}
.warning {
    color: #9F6000;
    border-left: 4px solid #9F6000;
    background-color: #FEEFB3;   
    display: block;
    margin: 10px 4px;
    padding: 7px;
    white-space: pre-wrap;
}

#frame {
    
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
}
/************* LOGO **************
#logo {
    
    display: block;
    height: 210px;
    
    background-image: url(../img/header.png);
    background-position: top left;
    background-repeat: no-repeat;
    
    text-align: right;
}

#logo img {
    margin-bottom: 10px;
}
**********************************/

#logo {

    display: block;
    height 120px;
    text-align: left;
    line-height: 100px;
    font-size: 60px;
}

#wrapper {
     
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-top: none;
    -moz-box-shadow: 0 3px 4px #CCCCCC;
    -webkit-box-shadow: 0 3px 4px #CCCCCC;
    box-shadow: 0 3px 4px #CCCCCC;
}

nav {
    
    font-size: 1.2em;
    text-align: right;
    
    color: #2E3643;
    background-color: #EFEFEF;
    border-top: 16px solid #18515E;
    border-bottom: 1px solid #CCCCCC;
}

nav a {
    
    display: inline-block;
    color: #2E3644;
    padding: 5px 12px;
}

nav .small {
	
	font-size: 0.7em;
}

nav a:hover {
    
    text-decoration: none;
    background-color: #CCCCCC;
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

aside ul {
	
	list-style: none;
	padding: 0;
}

aside ul li a, aside ul li span {
	
	display: block;
	padding: 8px;
	border-bottom: 1px dotted #CCCCCC;
}

aside ul li a:hover {
	
	 background-color: #EFEFEF;
}

aside h1 {
	
	font-size: 1.1em;
	padding: 5px;
	border-bottom: 3px solid #18515E;
	margin: 0;
}

#search {
 
    float: left;
}

#advsearch {
    
    font-size: 0.9em;
    float: left;
    margin-left: 7px;
    margin-top: 10px;
}

#search input[type=text] {
    
    font-size: 1.0em;
    width: 150px;
    
    border: 1px solid #2e3643;
    background-color: #edecea;
}

#search input[type=submit] {
 
    font-size: 1.0em;
    border: 1px solid #2e3643;
    background-color: #edecea;
}

main {
    
    min-height: 150px;
    /*padding: 10px;*/
}

footer {
    
    padding: 5px 10px;
    text-align: right;
    color: #333333;
    font-size: 0.8em;
}

/********************** OTHERS ************************/
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}