.table {
		
	display: table;
	width: 100%;
}
.tleft, .tcenter, .tright, .tfst, .profilepic {
		
	display: table-cell;
	/*border-bottom: 1px dotted #CCCCCC;*/
	padding: 10px;
	vertical-align: middle;
}

.t200 {
	
	width: 200px;
}

.t400 {
	
	width: 400px;
}

.t30p {
	width: 30%;
}

.ttop {
	
	vertical-align: top;
}

.tbottom {
	
	vertical-align: bottom;
}

.tnoborder {
	
	border: none;
}
.tleft {

	width: 130px;
}
.tfst {
	
	width: 20px;
	/*width: 25px;*/
}
.tright {
	
	width: 130px;
}
.trow {
	
	display: table-row;
}

.iconlink {
	
	font-size: 1.2em;
	padding: 0 10px;
}

.profilepic {
	
	text-align: right;
}

fieldset {
	
	border: none;
}

fieldset legend {
	
	font-variant: small-caps;
	font-size: 0.8em;
	padding-bottom: 5px;
}

.profilepicarea {
	
	min-height: 200px;
}

.profilepicarea img {
	max-width: 180px;
	max-height: 200px;
}

.profileoperations {
	
	font-size: 0.9em;
	font-variant: small-caps;
}

.right {
	
	text-align: right;
}

form ul {
	
	width: 100%;
	max-width: 450px;
	list-style-type: none;
}

form li {
	
	padding: 5px;
}

form ul input[type=text], form ul input[type=password] {
	
	width: 95%;
	padding: 4px;
	font-size: 1.3em;
	border: 1px solid #CCCCCC;
}

input[type=password] {
	
	-webkit-text-security: square;
}

form ul input[type=submit] {
	
	display: inline-block;
	padding: 3px;
}

form ul input[type=text]:hover, 
form ul input[type=text]:active, 
form ul textarea:hover,
form ul textarea:active {
     border-color:#18515E;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

form ul textarea {
	
	width: 95%;
	padding: 4px;
	font-size: 1.1em;
	min-height: 150px;
	border: 1px solid #CCCCCC;
}

 /* jssor slider arrow navigator skin 22 css */
            /*
            .jssora22l                  (normal)
            .jssora22r                  (normal)
            .jssora22l:hover            (normal mouseover)
            .jssora22r:hover            (normal mouseover)
            .jssora22l.jssora22ldn      (mousedown)
            .jssora22r.jssora22rdn      (mousedown)
            */
            .jssora22l, .jssora22r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 40px;
                height: 58px;
                cursor: pointer;
                background: url(../img/slider/a22.png) center center no-repeat;
                overflow: hidden;
            }
            .jssora22l { background-position: -10px -31px; }
            .jssora22r { background-position: -70px -31px; }
            .jssora22l:hover { background-position: -130px -31px; }
            .jssora22r:hover { background-position: -190px -31px; }
            .jssora22l.jssora22ldn { background-position: -250px -31px; }
            .jssora22r.jssora22rdn { background-position: -310px -31px; }

